# Ambientes virtuais Python
.venv/
venv/
env/

# Ficheiros temporários e compilados de Python
__pycache__/
*.pyc

# Ficheiros de sistema operativo (caso aplique)
.DS_Store
Thumbs.db
README copy.md
mosquitto/data/mosquitto.db
mosquitto/log/mosquitto.log
